# Thumbnails
._*
Thumbs.db

# External disks
.Spotlight-V100
.Trashes

# Dev files
*.[oa]
*~
.cfignore
.classpath
.externalToolBuilders
.project
.settings

# Logs
logs
*.log
# Runtime data
pids
*.pid
*.seed

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# node-waf configuration
.lock-wscript

# Compiled binary addons (http://nodejs.org/api/addons.html)
bin
distrib

# Dependency directories
metadata

# Optional REPL history
.node_repl_history

# big stuff
*.mov
*.mp4
